header {

  div.container {
    padding: 0 2rem;

    h1 {
      margin: 2.5rem 0 1.8rem;

      @media @mobile {
        margin: 1.8rem 0 1.2rem;
      }
    }

    p {
      padding-bottom: 1.6rem;
      border-bottom: 2px dashed #ccc;
    }
  }
}

.home {
  padding: 0 2rem;

  // @media @mobile {
  //   padding: 0 2rem;
  // }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
    }
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        width: 100%;
      }

      img {
        border-radius: 10px;

        @media @mobile {
          width: 100%;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      flex-direction: column-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    @media @mobile {
      width: 100%;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @mobile {
      flex-direction: column;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @mobile {
        width: 80%;
      }
    }

    .btn {
      .buttoned(10%, 1.8rem, 12px);
    }
  }

  .sign-up {
    margin-bottom: 2.4rem;
    padding-top: 2rem;
    border-top: 2px dashed #ccc;

    form {
      .flex-this(@wrap: wrap, @justify: space-between);
      
      label {
        width: 32%;

        @media @mobile {
          width: 100%;
        }
      }

      label[for="message-area"] {
        width: 100%;
      }

      input {
        width: 100%;
        margin-bottom: 2rem;
        .form-defaults();

        &::placeholder {
            color: lighten(@text, 80%);
        }
      }

      textarea {
        width: 100%;
        min-height: 30rem;
        margin-bottom: 1.6rem;
        .form-defaults();

        &::placeholder {
            color: lighten(@text, 80%);
        }
      }

      button[type="submit"] {
        margin-left: auto;
        .buttoned(10%, 1.8rem, 12px);
        cursor: pointer;

        @media @mobile {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}// home